body {
    /*font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;*/
    font-family: 'Questrial', sans-serif;

}

a, a:hover, a:visited, a:active {
    color: blue;
    text-decoration: underline;
}

h1 {
    font-family: 'Righteous', cursive;
    margin-left: 200px;
    margin-top: 25px;
    padding-top: 30px;
    font-size: 2.0em;
    /*border-width: 1px;
    border-color: black;
    border-style: dashed;*/
}

h2 {
    font-size: 1.15em;
    margin-left: 200px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    font-style:italic;
}

h4 {
  margin-bottom: 10px;
}

#subtitle {
  margin-top: 10px;
  margin-bottom: 30px;
}

body {
  background-color: #C2F2FF;
}

header {
    width: calc(100vw - 250px);
    margin-left: 200px;
    background: #C2F2FF;
    /*border-width: 1px;
    border-color: black;
    border-style: dashed;*/
}

header #search, #search2, #search3 {
    color: #000;
    padding: 6px 10px 6px 48px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #000;
    border-radius: 500px;
    border-color: #888888;
    font-size: left;
    font-family: 'Questrial', sans-serif;
    margin-right: auto;
    margin-bottom: 15px;
    width: 80%;
    font-size: 1.1em;
    font-weight:500;
    font-style:italic;
    outline: none;
}

header #search:hover, #search2:hover {
  border-color: #000000;
}

header #price, #open_now {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 5px;
}

header #search_button {
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  height: 30px;
  width: 100px;
  float: right;
}

.buttoncontainer {
  width: 80%;
}

#dimmer {
    filter: blur(0px);
}

/******************************************************************************/

#search_results {
  margin-top: 25px;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
   "a b";*/
}

#mapid {
  /*grid-area: a;*/
  /*border-style:solid;
  border-color: #888888;
  border-width: 1px;*/
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 400px;
  width: 60%;
}

/******************************************************************************/

#restaurants {
  /*grid-area: b;*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.restaurant {
  border-width: 1px;
  border-color: #888888;
  border-style: solid;

  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 20px;

  background-color: #FFFFFF;
}

.restaurant:hover {
  box-shadow: 5px 5px #BBBBBB;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
}

.info-button {
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  height: 30px;
  width: 100px;
}

.hide {
  display: none;
}

.preview-pic {
  width: 100%;
  height: 175px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  margin-bottom: 10px;
}

/******************************************************************************/

#r-card {
  visibility: visible;
}

.restaurant-expanded {
  position: fixed;
  top: 25px;
  left: 32%;
  width: 400px;

  visibility: hidden;

  border-width: 1px;
  border-color: #000000;
  border-style: solid;

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  background-color: #FFFFFF;
}

.phone-expanded {
}

.website-link {
}

.pic-expanded {
  width: 100%;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-width: 1px;
  border-color: #000000;
  border-style: solid;
  margin-bottom: 10px;
}

#close-button {
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  height: 30px;
  width: 100px;
}
